<p-table [columns]="cols" [value]="cars" [paginator]="true" [rows]="5" [first]="first">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft" let-state>
    {{state.first}}
    <button type="button" pButton icon="fa-refresh"></button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <button type="button" pButton icon="fa-cloud-upload"></button>
  </ng-template>
</p-table>
